.preloader(style="position:fixed; top:0; left:0; right:0; bottom:0; background:#fff; z-index:500;")
	.preloader__icon
		//img( src="images/content/icons/preloader.svg" alt="")
		svg.icon
			use(xlink:href="#preloader-icon")
