extends base/_layout
block head
    title About Us
block page
    section.section-simple
        .section-simple__head-bg.section-simple__head-bg-lg(style="background-image:url(images/content/head-img-2.jpg)")
        .container
            .inside-block
                .about-block
                    .section__title О компании
                    .about-info
                        p Следуя за любовью к фруктам, Андрос постоянно путешествует по миру в поисках новых видов. Благодаря этому знания бренда в этой области постоянно растут и позволяют улучшать техники сохранения и обработки.
                    .about-line
                        .part.part-lg.align-bottom
                            .text
                                p Природные условия постоянно меняются и качество фруктов может сильно варьироваться от сада к саду и даже изо дня в день. Мы очень зависим от климатических условий, ведь работаем со 100% натуральным продуктом. Мы разработали различные техники для повышения качества. Каждый день наши фрукты отбираются случайным образом: вкус, качество, пестициды, уровень сахара, все анализируется на постоянной основе.
                        .part.part-sm.align-bottom
                            .image(style="background-image:url(images/content/sm_img-2.jpg)")
                    .about-line
                        .part.part-lg
                            .image(style="background-image:url(images/content/s_img-1.jpg)")
                        .part.part-sm
                            .text
                                p Мы отбираем исключительно те фрукты, которые соответствуют всем нашим требованиям. Наши рецепты ежедневно адаптируются, чтобы гарантировать потребителю, что он всегда получит превосходный вкус фруктов, без красителей, искусственных ароматизаторов и консервантов!
                    .about-info
                        p С давних пор главная цел Андрос - сделать фрукты доступными для всех. Таким образом, каждый день Андрос делает все возможное, чтобы создать фруктовые продукты, не искажая их вкус и сохраняя их натуральность.
                    .about-info.about-info-sm
                        p Сначала мы сажаем самые лучшие и качественные сорта плодов. Затем их выращивают и собирают в уважении к природе, потому что сохранение природы сегодня - это гарантия хорошего урожая завтра. Они растут под солнцем в самых красивых фруктовых садов в мире на великолепных фруктовых терруарах Франции.
                    .about-line
                        .part.part-sm.align-bottom
                            .text
                                p После того, как урожай собран, мы не перевозим и не храним фрукты на складе. Чтобы сохранить вкус и естественную свежесть, все наши заводы находятся недалеко от фруктовых садов. Именно поэтому мы предлагаем вам уникальные продукты с превосходным вкусом.
                        .part.part-lg
                            .image(style="background-image:url(images/content/s_img-3.jpg)")
                    .about-line
                        .part.part-sm
                            .image(style="background-image:url(images/content/sm_img-1.jpg)")
                        .part.part-lg
                           .text
                               p Мы установили настоящую дружбу с нашими партнерами-арбористами. Некоторые из наших садов имеют долгосрочные контракты на выращивание, которые дают арбористам известность в своей отрасли и позволяют им инвестировать в будущее. Мы также поддерживаем лесоводов в разработке более экологически чистых методов ведения сельского хозяйства.
                    .about-info
                        p Стремясь защитить природу и сохранить биоразнообразие, Андрос решил присоединиться к ассоциации BEE FRIENDLY®. Эта ассоциация создана пчеловодами в ответ на серьезную экологическую проблему выживания диких и домашних пчел. BEE FRIENDLY® направлена на продвижение безопасных для пчел сельскохозяйственных систем.
                //about-block
                .certificate-block
                    .certificate-img__wrap
                        .certificate-img
                            .certificate-logo(style="background-image:url(images/content/certificate-logo.png)")
                    .certificate-description
                        .certificate-text-main
                            p Сертификация фруктов BEE FRIENDLY® основана на 3 принципах:
                        ul.certificate-list
                            li
                                .certificate-one
                                    .title Строгие спецификации по 27 критериям
                                    .text  (методы ведения сельского хозяйства, инсектициды, ГМО)
                            li
                                .certificate-one
                                    .title Черный список запрещенных молекул, включая неоникотиноиды
                            li
                                .certificate-one
                                    .title Независимый аудит третьей стороной
                        .certificate-text
                            p Сертификация BEE FRIENDLY® требует глобальных изменений в методах ведения сельского хозяйства. Мы планируем предложить первые сертифицированные BEER FRIENDLY® фрукты и фруктовые десерты в 2019 году.
            //inside-block
    //section-simple
    section.section-simple
        .container
            .green-separator
            .section__subtitle Наши продукты
            ul.item-list
                li
                    +item(1,'Сок апельсиновый','1,5 л', 'juice')
                li
                    +item(2,'Сок апельсиновый','1 л', 'juice')
                li
                    +item(7,'Сок апельсиновый','0,25 л', 'juice')
                li
                    +item(17,'Сок яблочный','1,5 л', 'juice')
            .btn__wrap
                a(href="catalog.html").btn.btn-default Смотреть каталог
