extends base/_layout
block head
    title Catalog
block page
    section.section-default
        .container
            .section__title Наши продукты
            ul.tab-list
                li
                    a(href="#" data-filter="all").tab-link.active Все продукты
                li
                    a(href="#" data-filter="juice").tab-link Соки
                li
                    a(href="#" data-filter="dessert").tab-link Десерты
            .green-separator
            .catalog-block
                .catalog-description
                    .catalog-info(data-category="all").visible
                        .fx-row
                            .fx-col.fx-col-6
                                .catalog-slogan Попробуйте уникальные соки и десерты из фруктов, выращенных во Франции. Для изготовления нашей продукции мы отбираем только самые свежие и вкусные плоды.
                            .fx-col.fx-col-6
                                .catalog-text
                                    p Наши рецепты разрабатывались и улучшались более 100 лет, поэтому вы можете быть уверены в качестве и эксклюзивности продукции Андрос. Знакомый с детства вкус спелых яблок или экзотический аромат манго? Мы порадуем вас множеством различных сочетаний. Наши соки и десерты 100% натуральные и не содержат красителей, искусственных ароматизаторов и консервантов!
                    .catalog-info(data-category="juice")
                        .fx-row
                            .fx-col.fx-col-6
                                .catalog-slogan Соки Андрос - это уникальное сочетание традиционных рецептов и самых спелых и свежих фруктов прямиком из Франции.
                            .fx-col.fx-col-6
                                .catalog-text
                                    p В отличие от многих марок, мы не используем разведённый концентрированный сок и не добавляем сахар. Все соки изготовлены на заводах региона Биарс во Франции из фруктов, выращенных на наших собственных плантациях. Все ингредиенты проходят строжайший контроль качества, поэтому вы можете быть уверены, что, покупая соки Андрос, вы и ваша семья насладитесь прекрасным натуральным вкусом и зарядом витаминов.
                    .catalog-info(data-category="dessert")
                        .fx-row
                            .fx-col.fx-col-6
                                .catalog-slogan Фруктовые кусочки от Андрос - это инновационный натуральный десерт, изготовленный только из спелых фруктов с  наших французских плантаций.
                            .fx-col.fx-col-6
                                .catalog-text
                                    p Предпочитаете натуральный вкус, но не можете отказать себе в десерте? С Андрос вам не придётся выбирать! Наши фруктовые кусочки полностью натуральны и выпускаются в двух версиях: без сахара и с небольшим содержанием сахара. Восемь различных вкусов не оставят никого равнодушным и станут идеальным перекусом для детей и взрослых.
                .catalog-items
                    ul.item-list
                        li
                            +item(1,'Сок апельсиновый','1,5 л', 'juice')
                        li
                            +item(2,'Сок апельсиновый','1 л', 'juice')
                        li
                            +item(7,'Сок апельсиновый','0,25 л', 'juice')
                        li
                            +item(17,'Сок яблочный','1,5 л', 'juice')
                        li
                            +item(3,'Сок яблочный','1 л', 'juice')
                        li
                            +item(4,'Сок яблочный','0.25 л', 'juice')
                        li
                            +item(15,'Сок ананасовый','1 л', 'juice')
                        li
                            +item(9,'Сок ананасовый','0,25 л', 'juice')
                        li
                            +item(5,'Сок мандариновый','1,5 л', 'juice')
                        li
                            +item(6,'Сок мандариновый','1  л', 'juice')
                        li
                            +item(18,'Сок мандариновый','0,25 л', 'juice')
                        li
                            +item(16,'Абрикосовый нектар','0,25 л', 'juice')
                        li
                            +item(19,'Клубничный нектар','0,75 л', 'juice')
                        li
                            +item(20,'Грушевый нектар','0,75 л', 'juice')
                        li
                            +item(21,'Абрикосовые кусочки','', 'dessert')
                        li
                            +item(11,'Ананасовые кусочки','', 'dessert')
                        li
                            +item(12,'Вишневые кусочки','', 'dessert')
                        li
                            +item(22,'Клубничные кусочки','', 'dessert')
                        li
                            +item(10,'Малиновые кусочки','', 'dessert')
                        li
                            +item(14,'Персиковые кусочки','', 'dessert')
                        li
                            +item(13,'Грушевые кусочки','', 'dessert')
                        li
                            +item(8,'Кусочки манго','', 'dessert')
                    .btn__wrap.hide-desktop
                        a(href="#more").btn.btn-bordered Показать ещё
                //catalog-items
    //section-default
