footer.footer(style="background-image:url(images/content/top_img-1.png);")
	.container
		.footer-inner
			.footer-part.footer-part-left
				.footer-logo__wrap
					a(href="index.html").footer-logo
						img( src="images/logo.png" alt="logo")
				.copyright
					| © Andros 2019. Продукты из свежих фруктов.
				.developers
					| Разработка -
					| #{' '}
					a(href="#" target="_blank") BBBro
			.footer-part.footer-part-right
				.footer-menu__wrap
					ul.footer-menu
						li
							a(href="about.html") О компании
							a(href="#") Andros Restauration
						li
							a(href="catalog.html") Наши продукты
							ul
								li
									a(href="catalog.html#juice") Соки
								li
									a(href="catalog.html#dessert") Десерты
						li
							a(href="contacts.html") Контакты
							ul
								li
									a(href="tel:8 (903) 537 62 86")  8 (903) 537 62 86
								li
									a(href="mailto:sales@androsfoods.com") sales@androsfoods.com
								li
									a(href="#") Написать нам
		//footer-inner
	//container
//footer
