header.header
	.container.container-lg
		.header-inner
			a(href="index.html").logo
				img( src="images/logo.png" alt="logo")
			a(href="#menu").menu-toggle
				.mline.top
				.mline.mid
				.mline.bot
			.slide-header
				.menu-block
					ul.menu
						li
							a(href="about.html") О компании
						li
							a(href="catalog.html") Наши продукты
							ul
								li
									a(href="catalog.html#juice") Соки
								li
									a(href="catalog.html#dessert") Десерты
						li
							a(href="#") Andros Restauration
						li
							a(href="contacts.html") Контакты
				//menu-block
				ul.header-contacts
					li
						a(href="tel:8 (903) 537 62 86") 8 (903) 537 62 86
					li.mobile-hide
						a(href="mailto:sales@androsfoods.com") sales@androsfoods.com
					li.mobile-hide
						a(href="#") Написать нам
		//header-inner
	//container
//header
