.item-list {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin:0 -3rem;
  padding:0;
  
  li {
    display:block;
    width:25%;
    padding:0 3rem 5rem;
    transition:all $anim ease;
    
    &.hidden {
      //opacity:0;
      transform:scale(0);
      //visibility:hidden;
    }
  }
  
  
  &.item-list-half {
    li {
      width:50%;
    }
  }
  @media screen and (max-width:$table-screen) {
    margin:0 -1.5rem;
    
    li {
      padding:0 1.5rem 2rem;
      width:33.33334%;
    }
    &.item-list-half {
      li {
        width:33.33334%;
      }
    }
  }
  @media screen and (max-width:$mobile-screen) {
    margin:0 -1.5rem;
    
    li {
      padding:0 1.5rem 3rem;
      width:100%;
    }
    &.item-list-half {
      li {
        width:100%;
      }
    }
    
  }
}

.item {
  display:block;
  width:100%;
  
  .item__img-wrap {
    display:block;
    width:100%;
    padding:3rem;
    background:$item-img-bg;
    margin:0 0 2.5rem;
    position:relative;
    
    &:after {
      content:'';
      display:block;
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      border:.1rem solid $yellow;
      transition:opacity $anim ease;
      opacity:0;
    }
  }
  .item__img {
    display:block;
    width:100%;
    padding:0 0 100%;
    background-repeat:no-repeat;
    background-position:50%;
    background-size:contain;
  }
  .item__name {
    display:block;
    font-size:2.4rem;
    line-height:2.9rem;
    font-weight:600;
    color:$green;
    margin:0 0 .5rem;
    transition:color $anim ease;
  }
  .item__value {
    display:block;
    font-size:1.6rem;
    line-height:2.0rem;
    font-weight:500;
    color:$text-color;
  }
  
  &:hover {
    .item__img-wrap {
      &:after {
        opacity:1;
      }
    }
    .item__name {
      color:$light-green;
    }
  }
  @media screen and (max-width:$table-screen) {
    .item__img-wrap {
      padding:2.5rem;
      margin:0 0 1.5rem;
    }
    .item__img {
    }
    .item__name {
      font-size:1.6rem;
      line-height:2.9rem;
      margin:0 0 .5rem;
    }
    .item__value {
      font-size:1.2rem;
      line-height:1.5rem;
    }
  }
}//item


.tab-list {
  display:flex;
  flex-direction:row;
  margin:0 0 6rem;
  padding:0;
  
  li {
    display:block;
    list-style:none;
    margin-right:2.5rem;
  }
  .tab-link {
    display:block;
    font-size:2.0rem;
    line-height:2.4rem;
    color:$text-color;
    position:relative;
    font-weight:600;
    padding:.5rem 0;
    cursor:pointer;
    
    &:after {
      content:'';
      display:block;
      position:absolute;
      top:100%;
      left:0;
      right:0;
      height:.2rem;
      background:$yellow;
      transition:background-color $anim ease;
    }
    
    &.active {
      cursor:default;
      
      &:after {
        background:$red;
      }
    }
  }
  @media screen and (max-width:$table-screen) {
    display:flex;
    flex-direction:row;
    //justify-content:space-between;
    margin:0 0 3rem;
    padding:0;
  
    li {
      margin-right:2.5rem;
      
      &:last-child {
        margin-right:0;
      }
    }
    .tab-link {
      font-size:1.4rem;
      line-height:2.0rem;
      padding:.5rem 0;
    
      &:after {
      
      }
    }
  }
}

.green-separator {
  display:block;
  padding:0;
  margin:0 0 5rem;
  height:.4rem;
  width:100%;
  background:$light-green;
  
  @media screen and (max-width:$table-screen) {
    height:.4rem;
    width:100vw;
    margin:0 0 2.5rem -2rem;
  }
}

.catalog-block {
  display:block;
  width:100%;
}

.catalog-description {
  display:block;
  width:100%;
  margin:0 0 8rem;
  
  @media screen and (max-width:$table-screen) {
    //display:none;
    width:0;
    height:0;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    margin:0;
  }
}

.catalog-info {
  display:none;
  width:100%;
  
  &.visible {
    display:block;
  }
  
  .catalog-slogan {
    display:block;
    width:100%;
    font-size:2.4rem;
    line-height:1.5;
    font-weight:bold;
    color:$text-color;
    margin:0 0 3rem;
  }
  .catalog-text {
    display:block;
    width:100%;
    font-size:2.0rem;
    line-height:1.5;
    color:$text-color;
    font-weight:500;
  }
}
.inside-block {
  display:block;
  position:relative;
  padding:4rem 0 2rem;
  margin:-6rem 0 3rem;
  min-height:80rem;
  
  &:before {
    content:'';
    display:block;
    position:absolute;
    top:-3rem;
    left:-6rem;
    right:-6rem;
    border-top:.4rem solid $light-green;
    bottom:0;
    background:$white;
  }
  @media screen and (max-width:$table-screen) {
    width:100%;
    padding:3rem 0;
    margin:0;
    min-height:0;
    
    &:before {
      display:none;
    }
  }
}
.item-details {
  display:block;
  width:100%;
  position:relative;
  margin-top:-11rem;
  padding-top:11rem;
  
  .item-details__inner {
    display:block;
    width:58%;
    padding-right:3rem;
    position:relative;
  }
  .item-name {
    display:block;
    font-size:7rem;
    line-height:1;
    font-weight:800;
    margin:0 0 2.0rem;
    color:$green;
  }
  .item-value {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    font-size:2.4rem;
    line-height:1.5;
    font-weight:bold;
    color:$text-color;
    margin:0 0 3rem;
    
    span {
      display:block;
      white-space:nowrap;
      margin-right:1rem;
      
      &:last-child {
        margin-right:0;
      }
    }
  }
  .item-description {
    display:block;
    font-size:2rem;
    line-height:1.5;
    color:$text-color;
    font-weight:500;
    margin:0 0 5rem;
    padding-right:6rem;
  }
  .info-separator {
    display:block;
    width:100%;
    height:.1rem;
    background:$light-green;
    margin:5rem 0;
  }
  .info-group {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:flex-start;
    margin:0 0 5rem;
    
    .info-group__name {
      display:block;
      width:25%;
      min-width:25%;
      padding:0 1.5rem 0 0;
      font-size:1.6rem;
      line-height:2.0rem;
      font-weight:bold;
    }
    .info-group__details {
      display:block;
      width:75%;
      min-width:25%;
      padding:0 0 0 1.5rem;
      font-size:1.6rem;
      line-height:2.0rem;
      font-weight:500;
    }
  }
  @media screen and (max-width:$table-screen) {
    display:block;
    width:100%;
    position:relative;
    padding-top:25rem;
    margin-top:0;
  
    .item-details__inner {
      width:100%;
      padding-right:0;
    }
    .item-name {
      font-size:2.4rem;
      line-height:1;
      margin:0 0 .6rem;
    }
    .item-value {
      font-size:1.4rem;
      line-height:1.5;
      margin:0 0 2rem;
    
      span {
        display:block;
        white-space:nowrap;
        margin-right:.5rem;
      }
    }
    .item-description {
      font-size:1.2rem;
      line-height:1.5;
      margin:0 0 3rem;
      padding-right:0;
    }
    .info-separator {
      display:block;
      width:100%;
      height:.1rem;
      background:$light-green;
      margin:3rem 0 3rem;
    }
    .info-group {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      align-items:flex-start;
      margin:0 0 2rem;
    
      .info-group__name {
        width:100%;
        min-width:0;
        padding:0;
        font-size:1.2rem;
        line-height:1.5rem;
      }
      .info-group__details {
        display:block;
        width:100%;
        min-width:0;
        padding:0;
        font-size:1.2rem;
        line-height:1.5rem;
      }
    }
  }//$table-screen
}//item-details

.consist-list {
  display:flex;
  flex-direction:row;
  margin:0 -1.5rem;
  flex-wrap:wrap;
  
  li {
    display:block;
    width:50%;
    padding:0 1.5rem 3rem;
  }
  .consist-one {
    display:flex;
    flex-direction:column;
    min-height:15rem;
    background:$item-img-bg;
    padding:2.5rem 3rem;
    height:100%;
  }
  .consist-one__value {
    display:block;
    font-size:2.4rem;
    line-height:1.5;
    font-weight:bold;
    color:$green;
  }
  .consist-one__name {
    display:block;
    font-size:1.6rem;
    line-height:1.5;
    margin:auto 0 0;
    color:$text-color;
  }
  @media screen and (max-width:$table-screen) {
    margin:0 -1.5rem;
    padding-top:2rem;
  
    li {
      display:block;
      width:50%;
      padding:0 1.5rem 1rem;
    }
    .consist-one {
      min-height:12rem;
      padding:2.5rem 3rem;
    }
    .consist-one__value {
      font-size:1.6rem;
      line-height:1.5;
    }
    .consist-one__name {
      font-size:1.2rem;
      line-height:1.5;
      margin:auto 0 0;
    }
  }
  @media screen and (max-width:$mobile-screen) {
    li {
      width:100%;
    }
  }
}//consist-list

.item-details__aside-stick {
  display:block;
  position:absolute;
  top:0;
  left:50%;
  width:60rem;
  margin-left:14rem;
  padding-top:13rem;
  padding-bottom:3rem;
  
  @media screen and (max-width:$table-screen) {
    left:0;
    right:0;
    bottom:auto;
    top:-10rem;
    width:calc(100vw - 4rem);
    height:32rem;
    margin:0;
    padding:0;
  }
  @media screen and (max-width:$mobile-screen) {
    left:0;
    right:0;
    bottom:auto;
    top:-10rem;
    width:calc(100vw - 4rem);
    height:calc(100vw - 4rem);
    margin:0;
    padding:0;
  }
  
  @media screen and (min-width:($table-screen + 1)) {
    &.stick {
      position:fixed;
    }
    &.unstick {
      position:absolute;
      top:auto;
      bottom:0;
    }
  }
}
.item-details__aside {
  display:block;
  position:relative;
  top:auto;
  left:0;
  width:60rem;
  height:60rem;
  background:$item-img-bg;
  
  .item-details__aside-img {
    display:block;
    position:absolute;
    top:3rem;
    right:3rem;
    bottom:3rem;
    left:3rem;
    background-position:50%;
    background-repeat:no-repeat;
    background-size:contain;
  }
  @media screen and (max-width:$table-screen) {
    left:0;
    right:0;
    bottom:auto;
    //top:-10rem;
    top:0;
    width:calc(100vw - 4rem);
    height:32rem;
    
    &:after {
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:0;
      right:0;
      height:.4rem;
      background:$light-green;
    }
  }
  @media screen and (max-width:$mobile-screen) {
    left:0;
    right:0;
    bottom:auto;
    //top:-10rem;
    top:0;
    width:calc(100vw - 4rem);
    height:calc(100vw - 4rem);
  }
}


.addition-block {
  display:block;
  width:100%;
  padding:1rem 0;
}


